.box {
    background: grey;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid grey;
  }
  
  .box.checked {
    background: transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid grey;
  }