textarea {
    resize: none;
    border: 0;
    width: inherit;
    height: auto;
    padding: 0px;
    background-color: transparent;
    color: white;
    outline: none;
}

.strick {
    text-decoration: line-through;
}

.material-icons {
    cursor: context-menu;
}

.row {
    padding: 10px;
}